---
import Address from "@/components/address.astro";
import ContactForm from "@/components/contact-form.astro";
import Hero from "@/components/hero.astro";
import JoinUsCta from "@/components/join-us-cta.astro";
import PageLayout from "@/layouts/page.layout.astro";

import HeaderNavigation from "@/components/header/header-navigation.astro";
import FooterNavigation from "@/components/footer/footer-navigation.astro";

import { title } from "@/customisations/hero.json";
import SectionsList from "@/components/sections/sections-list.astro";
import Announcement from "@/components/announcement.astro";
---

<PageLayout title={title}>
  <Announcement />
  
  <HeaderNavigation />

  <Hero />

  <div class="bg-alternative text-alternative-foreground">
    <SectionsList />
  </div>

  <div class="bg-primary text-primary-foreground">
    <JoinUsCta />
  </div>

  <div class="bg-alternative text-alternative-foreground">
    <Address />
  </div>

  <ContactForm />

  <div class="bg-alternative text-alternative-foreground">
    <FooterNavigation />
  </div>
</PageLayout>
