---
import BaseLayout from "@/layouts/base.layout.astro";

interface PageProps {
  title: string;
}

const { title }: PageProps = Astro.props.frontmatter || Astro.props;
---

<BaseLayout title={title}>
  <main>
    <slot />
  </main>
</BaseLayout>
