---
import Seperator from "./seperator.astro";

interface Props {
    title: string;
    address: string;
    mapsUrl: string;
    groupName: string;
}

const { title, address, groupName, mapsUrl } = Astro.props;
---

<section id="address" class="px-4 py-8 antialiased">
    <Seperator loading="lazy" />
    <div class="max-w-screen-md mb-8 lg:mb-16 mx-auto">
        <h2
            class="mb-4 text-4xl tracking-tight font-extrabold text-center text-primary"
        >
            {title}
        </h2>
        <p class="mb-8 lg:mb-16 font-light text-center sm:text-xl">
            {address}
        </p>

        <div>
            <iframe
                src={mapsUrl}
                style="border:0;"
                class="w-full h-96 rounded-lg"
                allowfullscreen="true"
                loading="lazy"
                title={"Google Maps for " + groupName}
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
