---
import { JOIN_CTA_BUTTON, JOIN_CTA_SUBTITLE, JOIN_CTA_TITLE } from "@/lib/consts";
import { SendHorizonal } from "lucide-react";
---

<section class="bg-primary text-primary-foreground">
    <div class="py-8 px-4 mx-auto max-w-screen-md sm:py-16 lg:px-6">
        <div class="max-w-screen-md text-center">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold">
                {JOIN_CTA_TITLE}
            </h2>
            <p class="mb-8 font-light sm:text-xl">
                {JOIN_CTA_SUBTITLE}
            </p>
            <div
                class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4"
            >
                <a
                    href="#contact"
                    class="group inline-flex items-center justify-center px-4 py-2.5 text-base font-medium text-center border border-white rounded-lg focus:ring-4 sm:w-1/2 mx-auto hover:bg-white hover:text-primary"
                >
                    {JOIN_CTA_BUTTON}
                    <SendHorizonal  className="w-5 h-5 ml-2 -mr-1 transition-transform duration-100 group-hover:-rotate-12" />
                </a>
            </div>
        </div>
    </div>
</section>